*{
    margin:0;
    padding:0;
    list-style: none;
}
.gb{
    background-color: #fbf8fb;
}
.center{
    text-align: center;
}
.max-width{
    width: 1442px;
    margin: auto;
}
.margin{
    padding-top: 60px;
    margin-bottom: 20px;
}
.margins{
    
    padding-bottom: 60px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    text-align: right;
}
.bg{
    background-color: rgb(246, 241, 241);
    margin-bottom: 150px;
}
/* navbar section */
.flex-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo h1{
    font-weight: 600;
    font-size: 38px;
}
.list-item ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.list-item ul li{
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.flex{
    display: flex;
    gap: 30px;
    background:#C2C2C2;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
}
.flex p{
    font-weight: 400;
    font-size: 20px;
}
/* banner section */
.banner{
    background-image: url(./Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.banner-text h3{
    font-size: 48px;
    font-weight: 600;
}
.banner-text h1{
    font-size: 75px;
    font-weight: 900;
    margin: 20px 0;
    
}
.banner-text ul{
    margin: 30px 0;
}
.banner-text ul li{
    font-size: 20px;
    font-weight: 200;
    margin: 10px 0;
}
.btn-1{
    font-size: 20;
    font-weight: 900;
    background: rgb(217, 38, 151);
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 20px 40px;
    margin-right: 30px;
}
.btn-2{
    font-size: 20;
    font-weight: 900;
    background: rgb(52, 114, 228);
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 20px 40px;
}
/* gamer section */

.gamer-text h2{
    font-size: 48px;
    font-weight: 600;
}
.gamer-text p{
    width: 512px;
    font-size: 18px;
    margin: 28px 0;
}
.btn-3{
    font-size: 15px;
    font-weight: 900;
    background: rgb(217, 38, 151);
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 20px 40px;
    
}
.gamer-text h3{
    font-size: 32px;
    font-weight: 700;
}
/* videos section */
.videos{
    margin-top: 50px;
    margin-bottom: 40px;
}
.text{
    text-align: center;
}
.text h1{
    font-size: 35px;
    font-weight: 700;
}

/*  */
.div-position{
    position: relative;
}
.second-img{
    position: absolute;
    top: 400px;
    left: -100px;
    right: 150px;
    bottom: 150px;
}
.div-text h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}
.div-text span{
    color: rgb(215, 44, 101);
}
.div-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;

}
.classin{
    padding-top: 50px;
    padding-bottom: 200px;
    margin: 100px 0;
}
.more{
    margin-top: 300px;
}
.second-imgs{
    position: absolute;
    top: 400px;
    left: 500px;
    right: 150px;
    bottom: 150px;
}
.div-texts h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    
}
.div-texts span{
    color: rgb(215, 44, 101);
}
.div-texts p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;

}
.div-texts .change{
    color: rgb(82, 138, 222);
}

/* optional section */
.carton-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.optional{
    background-color: rgb(234, 31, 224);
}
.carton-text strong{
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    
}
.carton-text{
    color: #fff;
}
.list-flex p{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.carton-text h1{
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
}
/* last section */
.div-1 img{
    height: 60px;
    width: 60px;

}
.main-div{
    display: flex;
    justify-content: space-around;
}
.div-0{
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 50px;
  
}
.div-0:hover {
      border: .5px solid rgb(225, 39, 225);
      
}
/* media quarry */
@media (max-width:750px) {
    
}
